.video-player-zone {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.video {
    position: absolute;
    max-width: 80%;
    max-height: 70%;
}

.new-video {
    position: absolute;
    border-radius: 20px;
    box-shadow: 7px 8px 20px #5e5e5e,
        -7px 8px 20px #5e5e5e;
}

.bth-pause {
    z-index: 2;
}